"on":
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

name: Security Check

jobs:
    security:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Build an image from Dockerfile
              run: docker build -t docker.io/my-organization/my-app:${{ github.sha }} .

            - name: Run Trivy vulnerability scanner
              uses: aquasecurity/trivy-action@0.33.1
              with:
                  image-ref: "docker.io/my-organization/my-app:${{ github.sha }}"
                  format: "table"
                  exit-code: "1"
                  ignore-unfixed: true
                  vuln-type: "os,library"
                  severity: "CRITICAL,HIGH"
